<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-8">
				
				<div class="table-responsive">	
							<table class="table">
								<tbody>
								<tr>
									<td>	<h1>
					<a href="<%= @link.url %>"><%= @link.title %></a>
					<small> by <%= @link.user.email %> </small></h1>
									</td>

								</tr>


								<tr>
  									<td><strong>Title:</strong>
  									<%= @link.title %></td>
								</tr>
								<tr>					
 									<td><strong>Url:</strong>
  									<%= @link.url %></td>
								</tr>
								<tr>
									<td></td>
								</tr>
								</tbody>




							</table>
						
				</div>
			</div>
		</div>
	</div>
</div>



<div class= "btn-group">
<%= link_to 'To Website', @link.url, class: "btn btn-primary" %>

</div>


<% if @link.user == current_user %>

<div class="btn-group">
<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %> |
<%= link_to 'Back', links_path, class: "btn btn-default" %>
<%= link_to 'Wipe', @link, method: :delete, data: {confirm: 'Forrealz?' }, class: "btn btn-default" %>
</div>
<% end %>