<div class="page-header">
<h1><a href="<%= @link.url %>"><%= @link.title %></a><br>

<small> by <%= @link.user.email %> </small></h1></div>
</h1>
</div>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<div class= "btn-group">
<%= link_to 'To Website', @link.url, class: "btn btn-primary" %>

</div>


<% if @link.user == current_user %>

<div class="btn-group">
<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %> |
<%= link_to 'Back', links_path, class: "btn btn-default" %>
<%= link_to 'Wipe', @link, method: :delete, data: {confirm: 'Forrealz?' }, class: "btn btn-default" %>
</div>
<% end %>