


<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				
				<div class="table-responsive">	
							<table class="table">
								<tbody>
									<tr>
										<td>	<h1>
											<a href="<%= @link.url %>"><%= @link.title %></a>
												<small> by <%= @link.user.email %> </small></h1>
													</td>
														<td>	<%= image_tag @link.image.url(:medium) %></td>
														


															</tr>


															<tr>
  															<td><strong>Title:</strong>
  									<%= @link.title %></td>

									
										<td>
  									<div class="star-rating col-md-offset-4" data-score= <%= @avg_review %> > 
  									</div> 
									


									</td>
								</tr>
								<tr>					
 									<td><strong>Url:</strong>
  									<%= @link.url %></td>
  									<td><div class="col-md-offset-4"><em><%= "#{@reviews.length} reviews" %></em></div></td>
								</tr>
								<tr>
										
									<td><% if @reviews.blank? %>
				<h3>This portfolio hasn't been reviewed yet </h3>
				<%= link_to "Write Review", new_link_review_path(@link), class: "btn btn-danger" %>
				<% else %>
				<% @reviews.each do |review| %>
				<div class="reviews">
					<div class="star-rating" data-score= <%= review.rating %> > </div>
					<p><%= review.comment %></p>

				</div>
				<% end %>
				<% end %></td>	
								</tr>

								<tr>
								</tr>
								</tbody>


							

							</table>
							<%= link_to "Write a Review", new_link_review_path(@link) %>
						
			

			<div>
				<h1 class="review_title"></h1>
				<p>
			
					</div>
			</div>
			</div>
		</div>
	</div>
</div>



<div class= "btn-group">
<%= link_to 'To Website', @link.url, class: "btn btn-primary" %>

</div>


<% if @link.user == current_user %>

<div class="btn-group">
<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %> |
<%= link_to 'Back', links_path, class: "btn btn-default" %>
<%= link_to 'Wipe', @link, method: :delete, data: {confirm: 'Forrealz?' }, class: "btn btn-default" %>
</div>

<% end %>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');

		}
	});

	


</script>


